// Colors variables 
$cyan: hsl(158, 36%, 37%);
$prim-cream: hsl(30, 38%, 92%);
$dark-blue: hsl(212, 21%, 14%);
$grey-blue: hsl(228, 12%, 48%);
$grey-text: hsl(230, 3%, 45%);
$white: hsl(0, 0%, 100%);


// Font variables
$titre: Montserrat;
$texte: Fraunces;
